<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Catffe_Codigo_Barras.Properties.Settings.CatffeConnectionString"
            connectionString="Data Source=DESKTOP-QO0EHRL\SQLEXPRESS;Initial Catalog=Catffe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>